html,
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
  flex-direction: column;
  overflow: hidden;
}
#buttonContainerWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
#buttonContainer {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}
#presetHolyOne,
#presetFirstBorn,
#presetHolyGrid,
#presetFlowerOfLife,
#presetHolyCross,
#presetGodhead,
#presetMacrocosm,
#presetPyramidFlow,
#presetOrbs,
#presetTime,
#presetSupernova,
#presetAsAbove,
#presetInfiniteLoop,
#presetSelfPropulsion,
#presetExpandContract,
#presetOcta {
  top: 20px;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

#ampX, #freqX, #phaseX, #ampY, #freqX, #phaseY, #timeSpeed, #spinSpeed, #zoomLevel, #radius, #density, #connect, #toggleDualPhase, #light, #audioControl {
  cursor: pointer;
}

#controlsTab {
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;

}
#sendCoordsButton {
  margin-left: auto;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}
#controlsTab.active,
#sendCoordsButton.active {
  background-color: #555;
}
#sliderContainer {
  position: absolute;
  top: 55px;
  display: none;
  background-color: #444;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
  max-height: 100vh;
  /* width: 10%; */
}
label {
  display: block;
  color: white;
  margin-top: 10px;
}
#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.hidden {
  display: none;
}
#centerNorth, #centerSouth, #centerHorizontal {
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 70%;
  background-color: #555; /* Dark gray background */
  color: white;
  padding: 8px 15px; /* Padding for a better button size */
  font-size: 12px; /* Increased font size */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add some shadow for depth */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}
#centerVertical:hover, #centerHorizontal:hover {
  background-color: #777; /* Lighter gray on hover */
  transform: scale(1.02); /* Slightly larger on hover */
}
#centerVertical:active, #centerHorizontal:active {
  background-color: #333; /* Darker gray when active */
  transform: scale(1); /* Scale back to normal size when clicked */
}

#toggleButtonContainer {
  background-color: #333;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 16px;
  margin-left: auto;
}

#affirmations {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.affirmation {
  color: white;
  font-size: 1em;
  animation: hypnoticEffect 10s infinite alternate, slideEffect 20s linear infinite;
}

@keyframes hypnoticEffect {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg) translateY(0px);
    color: #00ffff;
  }
  25% {
    opacity: 0.5;
    transform: scale(1.1) rotate(15deg) translateY(-10px);
    color: #ff00ff;
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(-15deg) translateY(10px);
    color: #ffff00;
  }
  75% {
    opacity: 0.5;
    transform: scale(1.1) rotate(15deg) translateY(-10px);
    color: #ff4500;
  }
  100% {
    opacity: 0;
    transform: scale(0.5) rotate(0deg) translateY(0px);
    color: #00ff00;
  }
}

@keyframes slideEffect {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}